/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
  vertical-align: middle;
}


body{
  font-family: 'Roboto','Noto Sans TC', sans-serif;
}

.flex{
  display: flex;
}

.fdc{
  flex-direction: column;
}

.jcc{
  justify-content: center;
}

.aic{
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

header{
  height: 100vh;
  background: url(img/banner.png) no-repeat center/cover;
  color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 div:first-child{
  line-height: 42px;
  font-size: 24px;

}

header h1 div:nth-child(2){
  font-size: 80px;
  line-height: 106px;
  margin-bottom: 32px;
}

header h1 div:nth-child(3){
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
}

header ul{
  display: flex;
  justify-content: center;
  align-content: center;
}

header ul li{
  margin-left: 16px;
}

h2{
  margin-top: 56px;
  font-size: 64px;
  line-height: 84px;
}

.photo{
  margin-top: 40px;
  margin-bottom: 20px;
}

img{
  vertical-align: middle;
}
.about{
  padding-bottom: 56px;
}

.text-center{
  text-align: center;
}

ul li{
  font-size: 24px;
  line-height: 42px;
}
.about ul li{
  font-weight: bold;
  margin-bottom: 8px;
}
.list1{
  border-bottom: 1px solid #000000;
  padding-bottom: 24px;
}
.list2{
  margin-top: 28px;
}
.list2 li{
  position: relative;
}
.list2 li::before{
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #891818;
  line-height: 22px;
  margin-right: 16px;
}

.brand{
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 160px;
}

.brand p{
  line-height: 30px;
  font-size: 20px;
}

.brand h3{
  font-size: 24px;
  line-height: 42px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.brandimg1{
  margin-top: 68px;
  margin-bottom: 40px;
}


.brandimg2 img:nth-child(1){
  margin-right: 12px;
}
.brandimg2 img:nth-child(2){
  margin-left: 12px;
}

.cardBox{
  margin-top: 56px;
}

.card{
  margin-right: 24px;
  margin-bottom: 48px;
}
.card-img img{
  transition: opacity 0.3s ;
}
.card-img img:hover{
  opacity: 0.8;
}

.card-text{
  font-size: 20px;
  line-height: 42px;
  margin-top: 16px;
}

.m-0{
  margin: 0;
}

footer{
  text-align: center;
  padding: 64px 0;
  background-color: #000000;
  color: #ffffff;
}

footer li a{
  text-decoration: none;
  color: #ffffff;
}

footer li a:hover{
  text-decoration: underline;
}



